*.o
*.o.d
*.o.cmd
*.a
*.ko
*.mod
*.mod.c
*.order
*.symvers
*.builtin
modules.order
Module.symvers
vmlinux
vmlinux.o
arch/arm64/boot/Image
arch/arm64/boot/Image.gz
arch/arm64/boot/Image.gz-dtb
*.log
*.swp
*.swo
*~
.DS_Store
tags
cscope.*
.tmp_*
*.tmp
.*.tmp
.*.o.tmp
